body{
    background-image: url(bg13.jpg);
    background-position: center;
    background-size: cover;
}


#Main {
	margin: auto;
    margin-top: 120px;
    background-color: #3d4250;
    width: 500px;
    height: 580px;
    border: 3px solid #3d4250;
    border-radius: 10px;
}

#center {
	margin: 12px;
}

#input {
	text-align: right;
    font-family: cursive;
    font-size: 24px;
    font-weight: bold;
    background-color: aliceblue;
}

#stack {
	height: 40px;
    line-height: 40px;
    background-color: #3d4250;
    text-align: right;
    border-radius: 4px;
    font-size: 22px;
    font-family: cursive;
    vertical-align: middle;
    margin-right: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    color: cornsilk;
}


#pad {
	margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.btn-lg {
    margin: 3px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-family: cursive;
}

.custom {
	width: 100px;
    height: 80px;
    font-size: 33px;
    border-radius: 8px;
}

.float {
	float: right;
}



